.confirmation-outer-container {
  .confirmation-box {
    padding: 1rem 4rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 30px;
    margin-bottom: 2rem;

    .fields {
      display: flex;
      justify-content: space-between;
      padding-right: 3rem;
    }
  }
  .button-pattern{
    display: flex;
    justify-content: flex-end;
    .btn{
        border: 1px solid #5a5959;
        margin: 0 5px;
        padding: 10 15px;
        border-radius: 5px;
    }
    .edit{
        background-color: #205a72;
        color: #fff;
    }
    .confirm{
        background-color: green;
        color: #fff;
    }
  }
}

.section {
  margin: 30px 0px;
}
