$container_width: 40vw;
$font_size : 14px;

.outer-container {
  .header {
    background-color: #11b67a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    .lbgLogo {
      width: 11rem;
      height: 4rem;
    }
    .header-second-half {
      display: flex;
      align-items: center;
      column-gap: 20px;
      margin-right: 10rem;

      .phoneBtn {
        border-left: 1px solid #000;
        border-right: 1px solid #000;

        padding: 5px 10px;
      }

      .lbgText {
        letter-spacing: 2px;
      }
      .logoutBtn {
        border: 1px solid #000;
        font-weight: 600;
        &:hover {
          background-color: #fff;
          border: 1px solid #11b67a;
        }
      }
    }
  }

  .navbar {
    background-color: #000000;
    padding: 0;
    height: 3rem;
    ul {
      color: #fff;
      list-style: none;
      display: flex;
      margin: 0 0 0 10px;
      font-weight: 500;
      font-size: 16px;
      height: 100%;
      padding: 0;
      li {
        padding: 0px 10px;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        &:hover {
          background-color: #fff;
          color: #000000;
        }
      }
    }
  }
  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 100vw;
    // border: 2px solid red;

    .search-bar {
      input {
        width: $container_width;
        flex: 1;
        border: none;
        outline: none;
        font-size: 8px;
        padding: 10px;
        &::placeholder {
          color: #9aa0a6;
        }
      }
      button {
        margin-left: 5px;
      }
    }
  }
}

.search-container {
  width: $container_width;
  max-width: 1000px;
  // border: 2px solid red;
  margin: 5px 20px;
}

.form {
  display: flex;
  align-items: center;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding: 5px 10px;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  position: relative;
  min-height: 5rem;
  .search-btn {
    background-color: #000;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 5px;
    i {
      color: #ffff;
      margin-top: 8px;
      cursor: pointer;
    }
  }
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: $font_size;
  font-weight: 500;
  padding: 10px;
  position: relative;
}

.search-input::placeholder {
  color: #9aa0a6;
}

.suggestion-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 5px 5px 10px;
  border-radius: 0px 0px 24px 24px;
  border-top: none;
  background-color: #fff;
  box-shadow: 0 5px 6px rgba(32, 33, 36, 0.28);
  position: absolute;
  width: inherit;
  list-style-type: none;
}

i {
  cursor: pointer;
}

.chat-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-height: 80vh;
  padding: 10px 10px;
  margin: 10px 5px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  .chat-container {
    font-size: $font_size;
    font-weight: 500;
    min-height: 60vh;
    overflow-y: auto;
    .query {
      max-width: $container_width;
      // width: fit-content;
      // border: 1px solid blue;
      text-align: end;
      align-items: end;
      // padding-right: 20px;
      display: flex;
      justify-content: end;
      align-items: center;
      
      p{
        width: fit-content;
        background-color: #c7d6e4;
        padding: 10px;
        border-radius: 8px;
      }
    }

    .response {
      max-width: $container_width;
      // border: 1px solid green;
      text-align: start;
      padding-left: 20px;
      padding-right: 70px;
      align-items: flex-start;

        .lbg-logo{
          min-width: 20px;
          min-height: 20px;
          border: .5px solid rgb(27, 206, 51);
          border-radius: 50%;
          margin-right: 10px;
          background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFwAAABdCAYAAAAoswH9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAA5BSURBVHhe7Zx5lFT1lcc/9erVXl29QjdNCw3NLtAIiGCEYYegksElyYgRxWjEw8wZGU2McxInOYnGieF4ZIzohBgMzAnqiLhiZIutQAQRRTYZdppuoOmt9u3V/PGqq+o9qpqu7q7Xy6nPOX2q3r2/1931rVf3d3/3d1/p8t9/IkIWzRDUhiyZJSu4xmQF15is4BqTFVxjsoJrTFZwjckKrjFZwTWm1wruXfcxoeO1BHYcVLu6lF4heMQfxLu+CqnJHbMFtnyFb30V7v/cRMQfVIzvSnqF4O5n3sK3vorQoWoAfO9+jnSxmeDuYwDoTAbVGV2HrqcVryK+IFJdM/qyQiIeP57VHxHY8lXMLwwsQjpdpzgn99XlCEUOha2r6HGC+9/fh+flLeiHlBA+dE7tVjJ2EATD6GrqyPntPej7F6hHaE6PCynhmkYIhK4UO8eiPAY4WQszKomMG4L3T9vV3i6hxwgerq4n+NVpdHaz0mEywJhB4PQq7QC26FirCak+PqF2Jd1ecMnlw73yXZofWI3r8fX41u6IO40izJ0Ah88kniJjNsLocgiGoH8R4YvNBL88rR6lOd1ecO/qvyomRQWzr4OvT0EorPaALwBbvoBXt8C5Ovj29bh+9w5SnVM9UlO6veDmH0xDV5ijNsOQUsixynG6NfxB+GAP1DXBlFG4fv2/6hGa0u0F1xfnYV0+X22GG0bA0bNqa2q27ge7mXBhHp4XNqu9mtHtBQfQDyhSGkoLINcGNQ1Ke2sEQ/Dh5zCuAv/RWvzbvlaP0IRuL7j7d+/g/Mk6pbGsj/zo9SvtKnTqVLHeCWcuwsxxeF7ZTvjcZaVfA7q94NJlJxH1RNcnT35spUYijisn95WHMd89FSzGuMOgh7d3w2UngarDiadoQrcX3DhztNoE5mhtRJ/639eXFaCzmrDcNZXctcsxf/dG2XGiFnKtAIjDS5UnaUDq/7ibYJo9Fsu909HZTHGjJMmP9iSryyjhmsbYc8FuxnLvdCzL5iFcbEBX34zlobkYxg9WnKMFPaaWEjpxAffTG5Gq62HBJCgvhl2H4Ivj6qExHL9/AH15NN53E7r9FQ4QOnQO5z+vkcUGcEWX8SMHKMapcf7sL4QvNKnNXUqPENz7ynZI/BzWRtPBPDsM65/gUBK57MT5yCuEjsh18u5AjxA8rM63z1yMP582FvrkJnoVRBo9OFesxf/e52pXl9AjBNeX90FIrGX7AvElvVGEWye3eqUDeF74EG9i4asLcP58A3rL4qn/oXZ0NwwTBmO580aEkjyCu76RjS5vPIaLehjcDwb0BY8PEvY2EwkdPIvOYe2SdBBAOt/QM65wIdcGQPCTI3FjbQPURifRForz4eYb4L65MHW0nMkYRcUQ74sfplxhBvedyGi81w8p6RlXeAueP2wFbyBucPthWFniEBmDKIs/tD+MHwo6nfwGReSZV2r2YrxpBADBvcfx/c8neJ57j8Dm/QR2HEIc2g99ab7ql3acSDDcc/JwAOdP1hE6oNpsuGd28gXQsWqoqZfrJ4U5IIrwxf/F3MaZownsPgae5PUY2xOLMN40Um3uEFKTu2cJHjp+AelCIzq7Gdfj62XjvAlQkRCTa+vlUmyyOG4xKj8hV8H6LwswzR+nNrcbyentGTG8BbGiGOONwxEcci0EVMv7s5dg46fJxYariq3Ll+eKFjzPv49v42cKW0dpdwwP7juJb93H+N/eS+DjQ4T2nyJ8vBYhz4YQLQ5lCu+abYRPXpQXPlOiH/t6J7y7G8LROkuaGKdfS86vvo9xbiVSkwfp9CUAQvtOgA4MYwaqT0mbSCCUfkgJ7j+FZ9UHSDUNcjrWN1oqDYbgkryMFisHYnlwDuKgvsqTOwHPC5vxv7dP3iReOAWKHBAIwWt/g2aPenibSBY6QkeqcT/zFlK0NGC6fTLW+2cqxqSL5PSmJ3jgk8O4n9ootyZcVwGjB4Ggg+o6qHcBETh1QZ6sTCK2Rxdi/JacDXSE8Nk6QgfO4HtjN1Jto7yynH99vBdl8144UaM+7aroCu3Yn/wu4pAStQuiK1zno68SaZBDlGHqCGz/thCdKtVsK2kJLtW7aLr/9/LH+OYb5Cvs0Gn45GDyXfMoth9/B+P0a9XmGFJdM+Fz9fIb12KrbUQ6X0/41CVCx2piL5h8u5zqTRwW/wWHTsOOFLv6rWE14Vh5D/oBrVcTw2fqaF6xNpbNCGWF2J9YhL48/U9vWoJ7/rAV/5t/h7tmyLWMfgXwepV62JVYjOSufhChj9zbF66uJ/C3gwT3HCd8pi71RGYQ5XQu1wYFDhhULL/ZiTR7YMMOCKZ+w1OhK7SjLy0AHehsZnQOC0KuFZ3djC7Hgs5hxVA5EJ3VRHDvcVw/3xA/2ShiXT4f0+yxib/yqqQleNN9LyD5wzCmHKq+hrIiud+jDYhjBmD54Sx866sIfhbNhQtzoCS6GWwxgdUof2pafgxt+Nhu/FQOXxnC8dKD6K+RN7B9m/bgfekjhV+cWIH9329rc3duWoI3LHgKSvLlKzJV2mUyYH1oDsZpoyASwfPyFgJ//TLuL8mHa8thYF9Z1MvN4EvYlxQFKMhpm9h7jsKeaF0lQ+S9+Ri6lu28aOeuc8WfCJ+SMxii2Y3tx9+JHbdGeoIv+q28NA6E1K4YlvtnYr59ssLWcPuz8ps06zoYXiZPqseq5WpfqtjvsMrVv0kpJtzqOti0S23tEIbJQ9EPLiaw/SBSTQM6h4W8vzyiHobnxQ8VggOYF0/FMPbqaWNagjf96CWks8mLPi3Yf7NY8Yd9b+zG+8dtMH2s3CW148vkTZepyLXBgushP6Hz6nIzvL0rdexPE/2QEqzL5iKOlGsyrl+/SfDTI+iHlOB4fql6eIdIa6XZ8g+1RsTtiz8PhPC9thMKHXJbwzu70xMb5NC1O6FCeLER3trZOWIbRayP3ILj+aWK1xbxyK+hZZLvbNosuHFG6tQOkxxz/e/uI+KTxQgdrSbi8sGoAfKV3V4aXPLjsWrYtLPVXpS2IhTn4njuPkxzrswypOhuv9A39S5SR2iz4IbK8pQ74JbFUzHdOgEh30bELeer0vnotpjHH1uBtgubCbZ/CR/ta1f6p0acWEHO80uTvpaIxy8vrAChKEkDaSfQZsEBLEuTL23DJy9iXTYP26MLEaKdrrFUqaNpW/Xl5P3fbUQcMwDDDUMx33UT9l/9Ezm//B6CugUuSijhrgqhuIuvcADDxApMdyizEECe2S8qr+LYHuT51ifaTCGU5JGzaik5z9yN/ck7sdw9DcP4QephCoJfnIw9z9RNWGkJDmBdOhNhoKqbFfCs2ao41g8oUvb0aYjpjsk4XnwAsSJ5jSQVLbcZ0h1ieCK2FbeqTQSrjhDcdyJ2rDMZkk5KGcNkwDBtJI41y7Aundnm1V8LUqNbroBGEQpUZYROol2Ci0P7Yf7+t9RmPC9vURybFk1SHHcqVhPi9RWYl0wnZ+US8jc+hv3xRej7tW8vUsizxTYgFC0ZnUybFz5qJJePpntWKZfmgP3puzBUlseOXU9vJNiBtmDD1JGxhnydzYRQ5EBfVtCual0qggdO41tXRfjEBSJuP6aFE7E+NFc9rMOktfBRI9jNGMbFhW0hpLpTzDC29f6/q2G5eyqWxfKP+R8nYbxpRKeKTbQ7K3TgTCylNc5I0iLdSbRbcIh2PamQWmrXUXQF7c9nhdL8WLVOK4TS/Iw2CrVb8NCJC/FSawLq+3HCJy8ojtPB/L1oE71G6ApzsP30NrW5U0lbcPdz79H0wGqcy9dcEb8xiRj/YZTCFNjavpuXxAmDMc2pVJszhn5EfxyrliJWFKtdnUakyZO+4KZ5lUQak9fDrcu/rUinfK/tVKRaieiH9lObYggleW2uMXcG+mGlOFYuQchTtkl0NlKds31ZilTvwrdpD+Ej1SDqEUryMM0agzgqXnUL/P0Y7l+8rjivBf3wUqw/moNzxVq1C8wGHM/de9W9xp6Ib9Oe9gl+NUIHz+J87M9qM0TjsmXJdAK7v8H9yzfUbmw/uwPjlIRN4l6Ee+U76YeUtqBL0gikc1jJefYHWJZMhyTpI4Dlvhm9VmwAcfSAzAiuLyvEOGuMwma+bRLiqGtix4GtBxR+YWAR5junKGy9DdPcyswITpKUTp/QhRXce1zenEhAyM9M7aK7kTHB9WWFiJXx/c1IwuaBYWIFxrnKlC906BxSO1vVehIZExzAODMeVqRLzQqf7V9vxnTLhLghEMK3YWfikF5JRgU3TB4aex4+mXDnWRTrw/Mw3TI+duzf+Bmho+cVY3obGRVcyLEgXitPlOFvkgtpfXg+YkIRzPXUm0iq+N6byKjgAOLoqOBn6oioSwFRbD9dhFAitz1HLjXjWfWBekivIfOCt6w+pQihg8m/wUfIsWB/8s5Y9TFYdbjbfWdsZ5FxwYWEJXpg51GFLxH9wD5YH5wdO3b/1+YrJtreQMYF1xfnxr7fJLDtwBX18kRMC8ZjaGng9/hxP/u2ekiPJ+OCA/F7Hv0hvKrdfTXWZXNju/2hA2dw/WajekiPRhPBheLofUBAYNvXeP5budmciFBgj9VbAIIfH8b55Aakut4RXtp9F1s66IeXEjp4lki93CcYPlJNJBDCcF3yxhxxeCn6imLCx2qIOH1I5xvwb96PYfQ1GesX0QpNrnB9SR6WH85S2Pyv7yLwaUJnrArj5GEYJg2JG7wBXL94vcdPpBmphycjfKGRwBZlhVBnEjHfkbpCGNx3gtBh5ZcN6K8pwjitc2/J1hLNBM8io0lIyRInK7jGZAXXmKzgGpMVXGOygmtMVnCNyQquMVnBNSYruMZkBdeYrOAakxVcY7KCa8z/A9nkyW7bkwClAAAAAElFTkSuQmCC");
          background-size: cover;
        }

    }
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

